@keyframes buttonRound {
  0% {
    margin: 2.083vw 0 5.573vw 0;
  }
  50% {
    margin: 2.083vw 0 7.135vw 0;
  }
  100% {
    margin: 2.083vw 0 5.573vw 0;
  }
}
@keyframes sliderBackground {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes arrow1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.469vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes arrow2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.469vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes texesImager {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.781vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

:root {
  --Black: #07031f;
  --White: #ffffff;
  --Orange: #f6a325;
  --Light-text: #83a2cb;
  --app-height: 100%;
}
.heading1 {
  color: var(--White, #fff);
  font-family: RIVERSEA;
  font-size: 12.083vw;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
}
.heading2 {
  color: var(--White, #fff);
  font-family: RIVERSEA;
  font-size: 5.833vw;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
  text-transform: uppercase;
}
.heading3 {
  font-family: RIVERSEA;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
  text-transform: uppercase;
}
.heading4 {
  color: var(--White, #fff);
  font-family: Ubuntu;
  font-size: 1.146vw;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.heading5 {
  color: var(--White, #fff);
  font-family: Ubuntu;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.625vw */
}
.text {
  font-family: Ubuntu;
  font-size: 1.354vw;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.textMini {
  font-family: Ubuntu;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.miniExplanation {
  padding: 0.417vw 0.833vw;
  border-radius: 0.417vw;
  border-right: 0.052vw solid var(--Orange);
  border-left: 0.052vw solid var(--Orange);
  height: min-content;
  color: var(--White);
  width: max-content;
}
.button {
  display: flex;
  width: max-content;
  height: 4.01vw;
  padding: 0 3.49vw;
  justify-content: center;
  align-items: center;
  gap: 2.031vw;
  border-radius: 0.417vw;
  background: var(--White);
  color: var(--Black);
  text-align: center;
  font-family: Ubuntu;
  font-size: 1.146vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  transition: 0.25s ease-out background, 0.25s ease-out border-radius;
  &:hover {
    border-radius: 0.938vw;
    background: var(--Orange);
  }
}
.buttonSlider {
  width: 4.167vw;
  height: 1.771vw;
  flex-shrink: 0;
  background: none;
  border: 0.052vw solid var(--White);
  border-radius: 0.417vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-out background, 0.25s ease-out border;
  &:hover {
    background: var(--Orange);
    border: 0.052vw solid var(--Orange);
  }
}
._container {
  width: 72.917vw;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  height: auto;
  background: var(--Black);
  .loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 40;
    .loaderContainer {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .loaderImages {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .title {
        z-index: 2;
        width: 16.927vw;
        height: 5.938vw;
        flex-shrink: 0;
        transition: 0.4s ease-out opacity;
      }
      .bottomBlock {
        position: absolute;
        left: 50%;
        bottom: 4.427vw;
        transform: translate(-50%, 0);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.042vw;
        transition: 0.4s ease-out 0.25s transform, 0.4s ease-out 0.25s opacity;
        .icon {
          width: 1.458vw;
          animation: 1s icon linear infinite;
        }

        span {
          color: var(--White);
          text-align: center;
          font-family: Ubuntu;
          font-size: 0.938vw;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 1.219vw */
        }
      }
    }
    &.done {
      .loaderContainer {
        .loaderImages {
          opacity: 0;
          transition: 0.4s ease-out 0.4s opacity;
        }
        .title {
          opacity: 0;
        }
        .bottomBlock {
          transform: translate(-50%, 200%);
          opacity: 0;
        }
      }
    }
  }
  .open-menu {
    display: none;
  }
  .logoContainer {
    cursor: pointer;
    position: absolute;
    top: 1.25vw;
    left: 2.083vw;
    display: flex;
    align-items: center;
    gap: 0.781vw;
    z-index: 30;
    .logo {
      width: 2.604vw;
      height: auto;
    }
    svg {
      width: 4.01vw;
      height: auto;
    }
  }

  .menuBlur {
    display: none;
  }
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 1.25vw 0;
  z-index: 10;
  .headerContainer {
    width: 95.833vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2.604vw;
    .close-menu {
      display: none;
    }
  }
  .nav {
    display: flex;
    gap: 2.604vw;
    margin: 0 0 0 auto;
    .navItem {
      text-transform: uppercase;
      color: var(--White);
      opacity: 0.6;
      transition: 0.25s ease-out color, 0.25s ease-out opacity;

      &:hover {
        color: var(--Orange);
        opacity: 1;
      }
    }
  }
  .socialContainer {
    display: flex;
    gap: 0.625vw;
    .socialItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.604vw;
      height: 2.604vw;
      background-color: var(--White);
      flex-shrink: 0;
      border-radius: 0.417vw;
      overflow: hidden;
      transition: 0.25s ease-out background;
      svg {
        width: 1.354vw;
        height: auto;
        path {
          transition: 0.25s ease-out fill;
        }
      }
      &:hover {
        background-color: var(--Orange);
        svg {
          path {
            fill: var(--White);
          }
        }
      }
    }
  }
}
.main {
  overflow: hidden;
  position: relative;
  height: 100vh;
  z-index: 1;
  .mainBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grass {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11.25vw;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: color-burn;
    filter: blur(0.156vw);
  }
  .mainContainer {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    height: 100%;
    .leftBlock {
      display: flex;
      flex-direction: column;
      gap: 0.521vw;
      width: 32.292vw;
      padding: 6.875vw 0 5.573vw 0;
      margin: auto 0 0 0;
      .heading1 {
        text-transform: uppercase;
      }
      .mainDescriptions {
        color: var(--White);
        font-family: Ubuntu;
        font-size: 1.875vw;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
      }
    }
    .rightBlock {
      padding: 6.875vw 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 22.917vw;
      .content {
        display: flex;
        flex-direction: column;
        gap: 0.521vw;
        .topBlock {
          display: flex;
          gap: 1.51vw;
          .number {
            color: var(--White);
            font-family: RIVERSEA;
            font-size: 6.875vw;
            font-style: normal;
            font-weight: 400;
            line-height: 95%; /* 6.531vw */
            text-transform: uppercase;
          }
        }
        .description {
          color: var(--White);
          font-family: Ubuntu;
          font-size: 1.146vw;
          font-style: normal;
          font-weight: 500;
          line-height: 140%; /* 1.604vw */
        }
      }
      .buttonRound {
        margin: 2.083vw 0 5.573vw 0;
        flex-shrink: 0;
        width: 10.417vw;
        height: 10.417vw;
        border-radius: 100%;
        background: var(--White);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.729vw;
        transition: 0.25s ease-out width, 0.25s ease-out height,
          0.25s ease-out transform, 0.25s ease-out background;
        animation: 3s buttonRound linear infinite;
        span {
          color: var(--Black);
          text-align: center;
          font-family: Ubuntu;
          font-size: 1.146vw;
          font-style: normal;
          font-weight: 700;
          line-height: 130%;
          text-transform: uppercase;
          width: min-content;
          transition: 0.25s ease-out color;
        }
        svg {
          width: 1.875vw;
          height: auto;
          path {
            transition: 0.25s ease-out fill;
          }
        }
        &:hover {
          transform: scale(1.08);
          background: var(--Orange);
          span {
            color: var(--White);
          }
          svg {
            width: 1.875vw;
            height: auto;
            path {
              fill: var(--White);
            }
          }
        }
      }
    }
  }
}

.about {
  position: relative;
  height: 150vw;
  width: 100%;
  z-index: 2;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 10.625vw;
    border-radius: 100vw;
    background: #08070c;
    filter: blur(2.604vw);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
  }
  &.step2 {
    z-index: 1;
  }
  .aboutWrapper {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    .aboutBackground {
      position: absolute;
      left: 0;
      top: 0vw;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.4s ease-out transform, 0.4s ease-out opacity;
      &.step1 {
        transform: scale(1.5);
      }
      &.step2 {
        transform: scale(2.5);
        opacity: 0;
      }
    }
    .aboutContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: 0.25s ease-out opacity;
      &.step1 {
        opacity: 0;
      }
      .leftBlock {
        position: relative;
        .arrow {
          position: absolute;

          &:nth-child(1) {
            width: 0.521vw;
            height: auto;
            top: -1.302vw;
            left: 14.167vw;
            animation: arrow1 1.5s linear infinite;
          }

          &:nth-child(2) {
            height: 0.521vw;
            width: auto;
            top: 23.229vw;
            left: -1.667vw;
            animation: arrow2 1.5s linear infinite;
          }
        }
        .aboutSlider {
          position: relative;
          width: 28.49vw;
          height: 28.49vw;
          flex-shrink: 0;
          border-radius: 100%;
          transform: translateY(7%);
          .circl-background {
            position: absolute;
            left: 0;
            top: 0;
            width: 28.49vw;
            height: 28.49vw;
            transition: 0.4s all;
          }
          .triangle {
            width: 21.927vw;
            height: auto;
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translate(-50%, -65%);
          }
          .gif {
            opacity: 0;
            position: absolute;
            width: 28.49vw;
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 0.5s opacity;
            &.active {
              opacity: 1;
            }
          }
          .circl {
            position: absolute;
            width: 5.625vw;
            height: 5.625vw;
            border-radius: 100%;
            background-image: url(../img/aboutClicable.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: all 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Ubuntu;
            font-size: 1.25vw;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            text-transform: uppercase;
            text-align: center;
            color: var(--White);
            z-index: 2;
            &:hover {
              cursor: pointer;
            }
            &.active {
              background-image: url(../img/aboutClicableActive.png);
              top: 65.5%;
              left: 85%;
              cursor: auto;
            }
            &.top {
              top: -9.5%;
              left: 40.5%;
            }
            &.left {
              top: 65.5%;
              left: -4%;
            }
          }
        }
      }
      .rightBlock {
        width: 35.417vw;
        display: flex;
        flex-direction: column;
        gap: 2.604vw;
        position: relative;
        .miniExplanation {
          position: absolute;
          right: 0;
          top: 0;
        }
        h2 {
          width: 30.521vw;
          display: flex;
          text-transform: uppercase;
        }
        .textContainer {
          width: 100%;
          height: 11.458vw;
          position: relative;
          strong {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            opacity: 0;
            z-index: 0;
            transition: all 0.5s;
            color: var(--White);
            &.active {
              opacity: 1;
              z-index: 4;
            }
          }
        }
      }
    }
  }
}
.fadeWrapper {
  margin: -250vh 0 0 0;
  position: relative;
  height: 500vh;
  width: 100%;
  .fadeSticky {
    overflow: hidden;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    .stickyContainer {
      display: flex;
      width: 200%;
      transition: 0.4s ease-out transform;
      position: relative;
      .fadeWrapperBackground {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
        object-position: 0;
        transition: 0.4s ease-out object-position;
        &.step5 {
          object-position: 17%;
        }
        &.step6 {
          object-position: 34%;
        }
        &.step7 {
          object-position: 51%;
        }
      }
      &.step3 {
        transform: translateX(-25%);
      }
      &.step4 {
        transform: translateX(-50%);
      }
      .wantsYou {
        position: relative;
        width: 50%;
        height: 100vh;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        .wantsYouContainer {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 2;
          .heading2 {
            width: 29.167vw;
          }
          .textContainer {
            margin: 1.042vw 0 0 0;
            display: flex;
            flex-direction: column;
            gap: 2.656vw;
            width: 26.042vw;
            .text {
              color: var(--White);
            }
          }
          .button {
            margin: 2.604vw 0 0 0;
          }
        }
      }
      .taxes {
        position: relative;
        width: 50%;
        height: 100vh;
        flex-shrink: 0;
        display: flex;
        padding: 7.656vw 0 0 0;
        .round {
          position: absolute;
          left: 56.25vw;
          top: 7.344vw;
          width: 26.042vw;
          height: auto;
          opacity: 0;
          transition: .25s ease-out opacity;
          &.active{
            opacity: 1;
            z-index: 3;
          }
        }
        .blur {
          position: absolute;
          bottom: -10.417vw;
          left: 50%;
          transform: translateX(-50%);
          width: 140.625vw;
          border-radius: 140.625vw;
          height: 22.865vw;
          z-index: 1;
          background: var(--Black);
          filter: blur(5.729vw);
          opacity: 0;
          transition: 0.25s ease-out opacity;
          &.active {
            opacity: 1;
          }
        }
        .taxesContainer {
          display: flex;
          flex-direction: column;
          gap: 2.604vw;
          position: relative;
          z-index: 1;
          .taxesImages {
            position: absolute;
            left: 18.75vw;
            top: -4.167vw;
            z-index: 1;
            width: 16.51vw;
            height: 16.51vw;
            background-image: url(".././img/taxesImages.png");
            background-size: 100% auto;
            transition: 0.25s ease-out transform;

            .taxesImagesWrapper {
              position: relative;
              width: 100%;
              height: 100%;
              .taxesImagerItem {
                animation: 4s texesImager ease-in-out infinite;
                position: absolute;
                padding: 3.906vw 1.979vw 2.552vw 1.979vw;
                width: 100%;
                height: auto;
                opacity: 0;
                transition: 0.25s ease-out opacity;
                &.active {
                  opacity: 1;
                }
              }
            }
            &.step5 {
              transform: scale(1.25) translate(10%, 15%);
            }
            &.step6 {
              transform: scale(1.5) translate(16%, 30%);
            }
            &.step7 {
              transform: scale(1.75) translate(18%, 39%);
            }
          }
          .navigation {
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: max-content;
            transition: 0.25s ease-out height;
            .navigationItem {
              background: none;
              border: none;
              width: max-content;
              color: var(--White);
              opacity: 0.4;
              text-align: left;
              transition: 0.25s ease-out font-size, 0.25s ease-out opacity,
                0.25s ease-out color;
              padding: 0;
              transform-origin: left;
              &:hover {
                color: var(--Orange);
                opacity: 1;
              }
              &.active {
                font-size: 5.833vw;
                opacity: 1;
                color: var(--White);
              }
              .taxesImages {
                display: none;
              }
            }
            &.small {
              height: 23.646vw;
            }
            &.big {
              height: 26.823vw;
            }
          }
        }
      }
    }
  }
  opacity: 0;
  transition: 0.4s ease-out opacity;
  &.step2 {
    z-index: 2;
    opacity: 1;
  }
}
.get {
  position: relative;
  height: 100vh;
  width: 100%;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .getContainer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 10.781vw 0 0 0;
    height: 100%;
    .heading2 {
      width: 27.396vw;
    }
  }
  .slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23.958vw;
    height: 23.958vw;
    .sliderContainer {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .sliderBackground {
        width: 100%;
        height: auto;
        animation: 8s sliderBackground linear infinite;
      }
      #c1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
      .slide {
        width: 17.865vw;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.4s ease-out transform, 0.4s ease-out opacity,
          0.4s ease-out left;
        &.active {
          opacity: 1;
        }
        &.centr {
          left: 0;
          transform: translate(-100%, -50%) scale(0.7);
        }
        &._none {
          transform: translate(-50%, -50%) scale(0.7);
        }
      }
    }
  }
  .rightBlock {
    display: flex;
    flex-direction: column;
    gap: 7.292vw;
    .buttons {
      display: flex;
      gap: 0.521vw;
      .buttonSlider {
        transition: 0.25s ease-out opacity, 0.25s ease-out background,
          0.25s ease-out border;
        svg {
          width: 3.021vw;
          height: auto;
        }
        &.active {
          opacity: 0.6;
          &:hover {
            background: none;
            border: 0.052vw solid var(--White);
          }
        }
      }
    }

    .textContainer {
      width: 22.917vw;
      display: flex;
      flex-direction: column;
      .headingContainer {
        width: 100%;
        position: relative;
        transition: 0.25s ease-out height;
        .sliderSubtitle {
          position: absolute;
          left: 0;
          top: 0;
          color: var(--White);
          opacity: 0;
          transition: 0.25s ease-out opacity;
          &.active {
            opacity: 1;
          }
        }
      }
      .stepContainer {
        position: relative;
        margin: 0.26vw 0 0 0;
        height: 1.354vw;
        .step {
          position: absolute;
          top: 0;
          left: 0;
          color: var(--Orange);
          font-family: Ubuntu;
          font-size: 1.042vw;
          font-style: normal;
          font-weight: 700;
          line-height: 130%; /* 1.354vw */
          opacity: 0;

          transition: 0.25s ease-out opacity;
          &.active {
            opacity: 1;
          }
        }
      }

      .descriptionContainer {
        margin: 1.302vw 0 0 0;
        position: relative;
        width: 100%;
        height: 8.854vw;
        .getDescription {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.25s ease-out opacity;
          a {
            color: var(--Orange);
            text-decoration: underline;
          }
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
}

.footerWrapper {
  position: relative;
  .footerBackgroung {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}
.faq {
  height: 100vh;
  padding: 6.25vw 0 0 0;
  .faqContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.677vw;
    .heading2 {
      text-transform: uppercase;
    }
    .accordionContainer {
      display: flex;
      justify-content: space-between;
      .accordionItem {
        width: 35.417vw;
        display: flex;
        flex-direction: column;
        border-bottom: 0.052vw solid rgba(255, 255, 255, 0.15);
        overflow: hidden;
        padding: 0vw 0 1.354vw 0;
        transition: 0.25s ease-out height;
        .headingAccordionContainer {
          display: flex;
          align-items: center;
          gap: 0.885vw;
          padding: 1.146vw 0 1.354vw 0;
          cursor: pointer;
          .heading5 {
            transition: 0.25s ease-out color;
          }
          .cross {
            width: 0.833vw;
            height: 0.833vw;
            position: relative;
            div {
              width: 100%;
              height: 0.104vw;
              background: var(--White);
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;
              transition: 0.25s ease-out transform, 0.25s ease-out background;
              &:last-child {
                transform: translate(-50%, -50%) rotate(90deg);
              }
            }
          }
        }
        .accordionDescriptions {
          padding: 0 0 1.354vw 0;
          color: var(--Light-text);
        }
        &:hover {
          .headingContainer {
            .cross {
              div {
                background: var(--Orange);
              }
            }
            .heading5 {
              color: var(--Orange);
            }
          }
        }
        &.show {
          .cross {
            div {
              background: var(--Orange);
              &:last-child {
                transform: translate(-50%, -50%) rotate(0deg);
              }
            }
          }
          .heading5 {
            color: var(--Orange);
          }
        }
      }
    }
  }
}
.footer {
  position: relative;
  padding: 2.76vw 0 4.688vw 0;
  .footerContainer {
    display: flex;
    flex-direction: column;
    .topBlock {
      display: flex;
      justify-content: space-between;
      .heading2 {
        text-transform: uppercase;
      }
    }
    .centrBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .arrow {
        width: 25.521vw;
        height: auto;
      }
      .leunity {
        color: var(--Orange);
        text-align: right;
        font-family: RIVERSEA;
        font-size: 8.333vw;
        font-style: normal;
        font-weight: 400;
        line-height: 95%; /* 7.917vw */
        text-transform: uppercase;
      }
    }
    .footerSocial {
      margin: 2.344vw 0 0 0;
      display: flex;
      justify-content: space-between;
      .socialItem {
        width: 22.917vw;
        height: 5.208vw;
        background: var(--White);
        border-radius: 0.417vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s ease-out background, 0.25s ease-out border-radius;
        svg {
          width: 3.125vw;
          height: auto;
          path {
            transition: 0.25s ease-out fill;
          }
        }
        &:hover {
          background-color: var(--Orange);
          border-radius: 0.938vw;
          svg {
            path {
              fill: var(--White);
            }
          }
        }
      }
    }
    .powered {
      display: flex;
      gap: 0.313vw;
      color: var(--White);
      font-family: Ubuntu;
      font-size: 0.625vw;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 0.813vw */
      margin: 4.01vw 0 0 auto;
      svg {
        width: 4.948vw;
        height: auto;
        path {
          transition: 0.25s ease-out fill;
        }
      }
      &:hover {
        svg {
          path {
            fill: var(--Orange);
          }
        }
      }
    }
  }
}
