@keyframes buttonRound {
  0% {
    margin: 2.083vw 0 5.573vw 0;
  }
  50% {
    margin: 2.083vw 0 7.135vw 0;
  }
  100% {
    margin: 2.083vw 0 5.573vw 0;
  }
}
@keyframes sliderBackground {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes arrow1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.469vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes arrow2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.469vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes texesImager {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.781vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes icon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

:root {
  --Black: #07031f;
  --White: #ffffff;
  --Orange: #f6a325;
  --Light-text: #83a2cb;
}

.heading1 {
  color: var(--White, #fff);
  font-family: RIVERSEA;
  font-size: 12.083vw;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
}

.heading2 {
  color: var(--White, #fff);
  font-family: RIVERSEA;
  font-size: 5.833vw;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
  text-transform: uppercase;
}

.heading3 {
  font-family: RIVERSEA;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 95%;
  text-transform: uppercase;
}

.heading4 {
  color: var(--White, #fff);
  font-family: Ubuntu;
  font-size: 1.146vw;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.heading5 {
  color: var(--White, #fff);
  font-family: Ubuntu;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.625vw */
}

.text {
  font-family: Ubuntu;
  font-size: 1.354vw;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.textMini {
  font-family: Ubuntu;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.miniExplanation {
  padding: 0.417vw 0.833vw;
  border-radius: 0.417vw;
  border-right: 0.052vw solid var(--Orange, #f6a325);
  border-left: 0.052vw solid var(--Orange, #f6a325);
  height: -moz-min-content;
  height: min-content;
  color: var(--White);
  width: -moz-max-content;
  width: max-content;
}

.button {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  height: 4.01vw;
  padding: 0 3.49vw;
  justify-content: center;
  align-items: center;
  gap: 2.031vw;
  border-radius: 0.417vw;
  background: var(--White, #fff);
  color: var(--Black, #07031f);
  text-align: center;
  font-family: Ubuntu;
  font-size: 1.146vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  transition: 0.25s ease-out background, 0.25s ease-out border-radius;
}
.button:hover {
  border-radius: 0.938vw;
  background: var(--Orange, #f6a325);
}

.buttonSlider {
  width: 4.167vw;
  height: 1.771vw;
  flex-shrink: 0;
  background: none;
  border: 0.052vw solid var(--White);
  border-radius: 0.417vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-out background, 0.25s ease-out border;
}
.buttonSlider:hover {
  background: var(--Orange);
  border: 0.052vw solid var(--Orange);
}

._container {
  width: 72.917vw;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  height: auto;
  background: var(--Black);
}
.wrapper .loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 40;
}
.wrapper .loader .loaderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .loader .loaderContainer .loaderImages {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .loader .loaderContainer .title {
  z-index: 2;
  width: 16.927vw;
  height: 5.938vw;
  flex-shrink: 0;
  transition: 0.4s ease-out opacity;
}
.wrapper .loader .loaderContainer .bottomBlock {
  position: absolute;
  left: 50%;
  bottom: 4.427vw;
  transform: translate(-50%, 0);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.042vw;
  transition: 0.4s ease-out 0.25s transform, 0.4s ease-out 0.25s opacity;
}
.wrapper .loader .loaderContainer .bottomBlock .icon {
  width: 1.458vw;
  animation: 1s icon linear infinite;
}
.wrapper .loader .loaderContainer .bottomBlock span {
  color: var(--White, #fff);
  text-align: center;
  font-family: Ubuntu;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 1.219vw */
}
.wrapper .loader.done .loaderContainer .loaderImages {
  opacity: 0;
  transition: 0.4s ease-out 0.4s opacity;
}
.wrapper .loader.done .loaderContainer .title {
  opacity: 0;
}
.wrapper .loader.done .loaderContainer .bottomBlock {
  transform: translate(-50%, 200%);
  opacity: 0;
}
.wrapper .open-menu {
  display: none;
}
.wrapper .logoContainer {
  cursor: pointer;
  position: absolute;
  top: 1.25vw;
  left: 2.083vw;
  display: flex;
  align-items: center;
  gap: 0.781vw;
  z-index: 30;
}
.wrapper .logoContainer .logo {
  width: 2.604vw;
  height: auto;
}
.wrapper .logoContainer svg {
  width: 4.01vw;
  height: auto;
}
.wrapper .menuBlur {
  display: none;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 1.25vw 0;
  z-index: 10;
}
.header .headerContainer {
  width: 95.833vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2.604vw;
}
.header .headerContainer .close-menu {
  display: none;
}
.header .nav {
  display: flex;
  gap: 2.604vw;
  margin: 0 0 0 auto;
}
.header .nav .navItem {
  text-transform: uppercase;
  color: var(--White);
  opacity: 0.6;
  transition: 0.25s ease-out color, 0.25s ease-out opacity;
}
.header .nav .navItem:hover {
  color: var(--Orange);
  opacity: 1;
}
.header .socialContainer {
  display: flex;
  gap: 0.625vw;
}
.header .socialContainer .socialItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.604vw;
  height: 2.604vw;
  background-color: var(--White);
  flex-shrink: 0;
  border-radius: 0.417vw;
  overflow: hidden;
  transition: 0.25s ease-out background;
}
.header .socialContainer .socialItem svg {
  width: 1.354vw;
  height: auto;
}
.header .socialContainer .socialItem svg path {
  transition: 0.25s ease-out fill;
}
.header .socialContainer .socialItem:hover {
  background-color: var(--Orange);
}
.header .socialContainer .socialItem:hover svg path {
  fill: var(--White);
}

.main {
  overflow: hidden;
  position: relative;
  height: 100vh;
  z-index: 1;
}
.main .mainBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .grass {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11.25vw;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  mix-blend-mode: color-burn;
  filter: blur(0.156vw);
}
.main .mainContainer {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.main .mainContainer .leftBlock {
  display: flex;
  flex-direction: column;
  gap: 0.521vw;
  width: 32.292vw;
  padding: 6.875vw 0 5.573vw 0;
  margin: auto 0 0 0;
}
.main .mainContainer .leftBlock .heading1 {
  text-transform: uppercase;
}
.main .mainContainer .leftBlock .mainDescriptions {
  color: var(--White);
  font-family: Ubuntu;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.main .mainContainer .rightBlock {
  padding: 6.875vw 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22.917vw;
}
.main .mainContainer .rightBlock .content {
  display: flex;
  flex-direction: column;
  gap: 0.521vw;
}
.main .mainContainer .rightBlock .content .topBlock {
  display: flex;
  gap: 1.51vw;
}
.main .mainContainer .rightBlock .content .topBlock .number {
  color: var(--White, #fff);
  font-family: RIVERSEA;
  font-size: 6.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 6.531vw */
  text-transform: uppercase;
}
.main .mainContainer .rightBlock .content .description {
  color: var(--White);
  font-family: Ubuntu;
  font-size: 1.146vw;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.604vw */
}
.main .mainContainer .rightBlock .buttonRound {
  margin: 2.083vw 0 5.573vw 0;
  flex-shrink: 0;
  width: 10.417vw;
  height: 10.417vw;
  border-radius: 100%;
  background: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.729vw;
  transition: 0.25s ease-out width, 0.25s ease-out height, 0.25s ease-out transform, 0.25s ease-out background;
  animation: 3s buttonRound linear infinite;
}
.main .mainContainer .rightBlock .buttonRound span {
  color: var(--Black, #07031f);
  text-align: center;
  font-family: Ubuntu;
  font-size: 1.146vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  width: -moz-min-content;
  width: min-content;
  transition: 0.25s ease-out color;
}
.main .mainContainer .rightBlock .buttonRound svg {
  width: 1.875vw;
  height: auto;
}
.main .mainContainer .rightBlock .buttonRound svg path {
  transition: 0.25s ease-out fill;
}
.main .mainContainer .rightBlock .buttonRound:hover {
  transform: scale(1.08);
  background: var(--Orange);
}
.main .mainContainer .rightBlock .buttonRound:hover span {
  color: var(--White);
}
.main .mainContainer .rightBlock .buttonRound:hover svg {
  width: 1.875vw;
  height: auto;
}
.main .mainContainer .rightBlock .buttonRound:hover svg path {
  fill: var(--White);
}

.about {
  position: relative;
  height: 150vw;
  width: 100%;
  z-index: 2;
}
.about::before {
  content: "";
  display: block;
  width: 100%;
  height: 10.625vw;
  border-radius: 100vw;
  background: #08070c;
  filter: blur(2.604vw);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.about.step2 {
  z-index: 1;
}
.about .aboutWrapper {
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
}
.about .aboutWrapper .aboutBackground {
  position: absolute;
  left: 0;
  top: 0vw;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease-out transform, 0.4s ease-out opacity;
}
.about .aboutWrapper .aboutBackground.step1 {
  transform: scale(1.5);
}
.about .aboutWrapper .aboutBackground.step2 {
  transform: scale(2.5);
  opacity: 0;
}
.about .aboutWrapper .aboutContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.25s ease-out opacity;
}
.about .aboutWrapper .aboutContainer.step1 {
  opacity: 0;
}
.about .aboutWrapper .aboutContainer .leftBlock {
  position: relative;
}
.about .aboutWrapper .aboutContainer .leftBlock .arrow {
  position: absolute;
}
.about .aboutWrapper .aboutContainer .leftBlock .arrow:nth-child(1) {
  width: 0.521vw;
  height: auto;
  top: -1.302vw;
  left: 14.167vw;
  animation: arrow1 1.5s linear infinite;
}
.about .aboutWrapper .aboutContainer .leftBlock .arrow:nth-child(2) {
  height: 0.521vw;
  width: auto;
  top: 23.229vw;
  left: -1.667vw;
  animation: arrow2 1.5s linear infinite;
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider {
  position: relative;
  width: 28.49vw;
  height: 28.49vw;
  flex-shrink: 0;
  border-radius: 100%;
  transform: translateY(7%);
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .circl-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 28.49vw;
  height: 28.49vw;
  transition: 0.4s all;
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .triangle {
  width: 21.927vw;
  height: auto;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .gif {
  opacity: 0;
  position: absolute;
  width: 28.49vw;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s opacity;
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .gif.active {
  opacity: 1;
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .circl {
  position: absolute;
  width: 5.625vw;
  height: 5.625vw;
  border-radius: 100%;
  background-image: url(../img/aboutClicable.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: var(--White);
  z-index: 2;
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .circl:hover {
  cursor: pointer;
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .circl.active {
  background-image: url(../img/aboutClicableActive.png);
  top: 65.5%;
  left: 85%;
  cursor: auto;
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .circl.top {
  top: -9.5%;
  left: 40.5%;
}
.about .aboutWrapper .aboutContainer .leftBlock .aboutSlider .circl.left {
  top: 65.5%;
  left: -4%;
}
.about .aboutWrapper .aboutContainer .rightBlock {
  width: 35.417vw;
  display: flex;
  flex-direction: column;
  gap: 2.604vw;
  position: relative;
}
.about .aboutWrapper .aboutContainer .rightBlock .miniExplanation {
  position: absolute;
  right: 0;
  top: 0;
}
.about .aboutWrapper .aboutContainer .rightBlock h2 {
  width: 30.521vw;
  display: flex;
  text-transform: uppercase;
}
.about .aboutWrapper .aboutContainer .rightBlock .textContainer {
  width: 100%;
  height: 11.458vw;
  position: relative;
}
.about .aboutWrapper .aboutContainer .rightBlock .textContainer strong {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s;
  color: var(--White);
}
.about .aboutWrapper .aboutContainer .rightBlock .textContainer strong.active {
  opacity: 1;
  z-index: 4;
}

.fadeWrapper {
  margin: -250vh 0 0 0;
  position: relative;
  height: 500vh;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease-out opacity;
}
.fadeWrapper .fadeSticky {
  overflow: hidden;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}
.fadeWrapper .fadeSticky .stickyContainer {
  display: flex;
  width: 200%;
  transition: 0.4s ease-out transform;
  position: relative;
}
.fadeWrapper .fadeSticky .stickyContainer .fadeWrapperBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0;
     object-position: 0;
  transition: 0.4s ease-out object-position;
}
.fadeWrapper .fadeSticky .stickyContainer .fadeWrapperBackground.step5 {
  -o-object-position: 17%;
     object-position: 17%;
}
.fadeWrapper .fadeSticky .stickyContainer .fadeWrapperBackground.step6 {
  -o-object-position: 34%;
     object-position: 34%;
}
.fadeWrapper .fadeSticky .stickyContainer .fadeWrapperBackground.step7 {
  -o-object-position: 51%;
     object-position: 51%;
}
.fadeWrapper .fadeSticky .stickyContainer.step3 {
  transform: translateX(-25%);
}
.fadeWrapper .fadeSticky .stickyContainer.step4 {
  transform: translateX(-50%);
}
.fadeWrapper .fadeSticky .stickyContainer .wantsYou {
  position: relative;
  width: 50%;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.fadeWrapper .fadeSticky .stickyContainer .wantsYou .wantsYouContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.fadeWrapper .fadeSticky .stickyContainer .wantsYou .wantsYouContainer .heading2 {
  width: 29.167vw;
}
.fadeWrapper .fadeSticky .stickyContainer .wantsYou .wantsYouContainer .textContainer {
  margin: 1.042vw 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 2.656vw;
  width: 26.042vw;
}
.fadeWrapper .fadeSticky .stickyContainer .wantsYou .wantsYouContainer .textContainer .text {
  color: var(--White);
}
.fadeWrapper .fadeSticky .stickyContainer .wantsYou .wantsYouContainer .button {
  margin: 2.604vw 0 0 0;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes {
  position: relative;
  width: 50%;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  padding: 7.656vw 0 0 0;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .blur {
  position: absolute;
  bottom: -10.417vw;
  left: 50%;
  transform: translateX(-50%);
  width: 140.625vw;
  border-radius: 140.625vw;
  height: 22.865vw;
  z-index: 1;
  background: var(--Black, #07031f);
  filter: blur(5.729vw);
  opacity: 0;
  transition: 0.25s ease-out opacity;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .blur.active {
  opacity: 1;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer {
  display: flex;
  flex-direction: column;
  gap: 2.604vw;
  position: relative;
  z-index: 1;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .taxesImages {
  position: absolute;
  left: 18.75vw;
  top: -4.167vw;
  z-index: 1;
  width: 16.51vw;
  height: 16.51vw;
  background-image: url(".././img/taxesImages.png");
  background-size: 100% auto;
  transition: 0.25s ease-out transform;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .taxesImages .taxesImagesWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .taxesImages .taxesImagesWrapper .taxesImagerItem {
  animation: 4s texesImager ease-in-out infinite;
  position: absolute;
  padding: 3.906vw 1.979vw 2.552vw 1.979vw;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: 0.25s ease-out opacity;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .taxesImages .taxesImagesWrapper .taxesImagerItem.active {
  opacity: 1;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .taxesImages.step5 {
  transform: scale(1.25) translate(10%, 15%);
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .taxesImages.step6 {
  transform: scale(1.5) translate(16%, 30%);
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .taxesImages.step7 {
  transform: scale(1.75) translate(18%, 39%);
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .navigation {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -moz-max-content;
  width: max-content;
  transition: 0.25s ease-out height;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .navigation .navigationItem {
  background: none;
  border: none;
  width: -moz-max-content;
  width: max-content;
  color: var(--White);
  opacity: 0.4;
  text-align: left;
  transition: 0.25s ease-out font-size, 0.25s ease-out opacity, 0.25s ease-out color;
  padding: 0;
  transform-origin: left;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .navigation .navigationItem:hover {
  color: var(--Orange);
  opacity: 1;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .navigation .navigationItem.active {
  font-size: 5.833vw;
  opacity: 1;
  color: var(--White);
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .navigation .navigationItem .taxesImages {
  display: none;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .navigation.small {
  height: 23.646vw;
}
.fadeWrapper .fadeSticky .stickyContainer .taxes .taxesContainer .navigation.big {
  height: 26.823vw;
}
.fadeWrapper.step2 {
  z-index: 2;
  opacity: 1;
}

.get {
  position: relative;
  height: 100vh;
  width: 100%;
}
.get .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.get .getContainer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 10.781vw 0 0 0;
  height: 100%;
}
.get .getContainer .heading2 {
  width: 27.396vw;
}
.get .slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23.958vw;
  height: 23.958vw;
}
.get .slider .sliderContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get .slider .sliderContainer .sliderBackground {
  width: 100%;
  height: auto;
  animation: 8s sliderBackground linear infinite;
}
.get .slider .sliderContainer #c1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.get .slider .sliderContainer .slide {
  width: 17.865vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s ease-out transform, 0.4s ease-out opacity, 0.4s ease-out left;
}
.get .slider .sliderContainer .slide.active {
  opacity: 1;
}
.get .slider .sliderContainer .slide.centr {
  left: 0;
  transform: translate(-100%, -50%) scale(0.7);
}
.get .slider .sliderContainer .slide._none {
  transform: translate(-50%, -50%) scale(0.7);
}
.get .rightBlock {
  display: flex;
  flex-direction: column;
  gap: 7.292vw;
}
.get .rightBlock .buttons {
  display: flex;
  gap: 0.521vw;
}
.get .rightBlock .buttons .buttonSlider {
  transition: 0.25s ease-out opacity, 0.25s ease-out background, 0.25s ease-out border;
}
.get .rightBlock .buttons .buttonSlider svg {
  width: 3.021vw;
  height: auto;
}
.get .rightBlock .buttons .buttonSlider.active {
  opacity: 0.6;
}
.get .rightBlock .buttons .buttonSlider.active:hover {
  background: none;
  border: 0.052vw solid var(--White);
}
.get .rightBlock .textContainer {
  width: 22.917vw;
  display: flex;
  flex-direction: column;
}
.get .rightBlock .textContainer .headingContainer {
  width: 100%;
  position: relative;
  transition: 0.25s ease-out height;
}
.get .rightBlock .textContainer .headingContainer .sliderSubtitle {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--White);
  opacity: 0;
  transition: 0.25s ease-out opacity;
}
.get .rightBlock .textContainer .headingContainer .sliderSubtitle.active {
  opacity: 1;
}
.get .rightBlock .textContainer .stepContainer {
  position: relative;
  margin: 0.26vw 0 0 0;
  height: 1.354vw;
}
.get .rightBlock .textContainer .stepContainer .step {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--Orange, #f6a325);
  font-family: Ubuntu;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.354vw */
  opacity: 0;
  transition: 0.25s ease-out opacity;
}
.get .rightBlock .textContainer .stepContainer .step.active {
  opacity: 1;
}
.get .rightBlock .textContainer .descriptionContainer {
  margin: 1.302vw 0 0 0;
  position: relative;
  width: 100%;
  height: 8.854vw;
}
.get .rightBlock .textContainer .descriptionContainer .getDescription {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.25s ease-out opacity;
}
.get .rightBlock .textContainer .descriptionContainer .getDescription.active {
  opacity: 1;
}

.footerWrapper {
  position: relative;
}
.footerWrapper .footerBackgroung {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.faq {
  height: 100vh;
  padding: 6.25vw 0 0 0;
}
.faq .faqContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.677vw;
}
.faq .faqContainer .heading2 {
  text-transform: uppercase;
}
.faq .faqContainer .accordionContainer {
  display: flex;
  justify-content: space-between;
}
.faq .faqContainer .accordionContainer .accordionItem {
  width: 35.417vw;
  display: flex;
  flex-direction: column;
  border-bottom: 0.052vw solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  padding: 0vw 0 1.354vw 0;
  transition: 0.25s ease-out height;
}
.faq .faqContainer .accordionContainer .accordionItem .headingAccordionContainer {
  display: flex;
  align-items: center;
  gap: 0.885vw;
  padding: 1.146vw 0 1.354vw 0;
  cursor: pointer;
}
.faq .faqContainer .accordionContainer .accordionItem .headingAccordionContainer .heading5 {
  transition: 0.25s ease-out color;
}
.faq .faqContainer .accordionContainer .accordionItem .headingAccordionContainer .cross {
  width: 0.833vw;
  height: 0.833vw;
  position: relative;
}
.faq .faqContainer .accordionContainer .accordionItem .headingAccordionContainer .cross div {
  width: 100%;
  height: 0.104vw;
  background: var(--White);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 0.25s ease-out transform, 0.25s ease-out background;
}
.faq .faqContainer .accordionContainer .accordionItem .headingAccordionContainer .cross div:last-child {
  transform: translate(-50%, -50%) rotate(90deg);
}
.faq .faqContainer .accordionContainer .accordionItem .accordionDescriptions {
  padding: 0 0 1.354vw 0;
  color: var(--Light-text);
}
.faq .faqContainer .accordionContainer .accordionItem:hover .headingContainer .cross div {
  background: var(--Orange);
}
.faq .faqContainer .accordionContainer .accordionItem:hover .headingContainer .heading5 {
  color: var(--Orange);
}
.faq .faqContainer .accordionContainer .accordionItem.show .cross div {
  background: var(--Orange);
}
.faq .faqContainer .accordionContainer .accordionItem.show .cross div:last-child {
  transform: translate(-50%, -50%) rotate(0deg);
}
.faq .faqContainer .accordionContainer .accordionItem.show .heading5 {
  color: var(--Orange);
}

.footer {
  position: relative;
  padding: 2.76vw 0 4.688vw 0;
}
.footer .footerContainer {
  display: flex;
  flex-direction: column;
}
.footer .footerContainer .topBlock {
  display: flex;
  justify-content: space-between;
}
.footer .footerContainer .topBlock .heading2 {
  text-transform: uppercase;
}
.footer .footerContainer .centrBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footerContainer .centrBlock .arrow {
  width: 25.521vw;
  height: auto;
}
.footer .footerContainer .centrBlock .leunity {
  color: var(--Orange, #f6a325);
  text-align: right;
  font-family: RIVERSEA;
  font-size: 8.333vw;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 7.917vw */
  text-transform: uppercase;
}
.footer .footerContainer .footerSocial {
  margin: 2.344vw 0 0 0;
  display: flex;
  justify-content: space-between;
}
.footer .footerContainer .footerSocial .socialItem {
  width: 22.917vw;
  height: 5.208vw;
  background: var(--White);
  border-radius: 0.417vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-out background, 0.25s ease-out border-radius;
}
.footer .footerContainer .footerSocial .socialItem svg {
  width: 3.125vw;
  height: auto;
}
.footer .footerContainer .footerSocial .socialItem svg path {
  transition: 0.25s ease-out fill;
}
.footer .footerContainer .footerSocial .socialItem:hover {
  background-color: var(--Orange);
  border-radius: 0.938vw;
}
.footer .footerContainer .footerSocial .socialItem:hover svg path {
  fill: var(--White);
}
.footer .footerContainer .powered {
  display: flex;
  gap: 0.313vw;
  color: var(--White, #fff);
  font-family: Ubuntu;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 0.813vw */
  margin: 4.01vw 0 0 auto;
}
.footer .footerContainer .powered svg {
  width: 4.948vw;
  height: auto;
}
.footer .footerContainer .powered svg path {
  transition: 0.25s ease-out fill;
}
.footer .footerContainer .powered:hover svg path {
  fill: var(--Orange);
}/*# sourceMappingURL=style.css.map */